*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    inline-size: 100%;
    text-decoration: none;
    list-style: none;
    font-family: Arial,Tahoma,sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 30px;
}

ul, li, a{
    margin-inline-end: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

header, img{
    block-size: 85px;
}

.google, .twitter{
    block-size: 18px;
    inline-size: 18px;
}

.qr, .user, .facebook{
    block-size: 24px;
    inline-size: 24px;
}

.t-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.op{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block-start: 70px;
}

.border{
    border: 1px solid rgba(22, 24, 35, .12);
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    justify-content: space-around;
}